.-layout-component {
  display: flex;
  height: 100%;
}
.-seeding-like {
  height: 100%;
  width: 440px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
  .-seeding-wrapper-like {
    padding: 15px;

    .-back-home {
      display: flex;
      p {
        color: #01162b;
        font-size: 15px;
        font-weight: 700;
        line-height: 30px;
      }
      img {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .-option-boost-like {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5% 0;
      p {
        width: 45%;
        color: #01162b;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
        span {
          font-weight: 400;
        }
      }
      &__header {
        width: 51%;
        display: flex;
        align-items: center;
        p {
          width: 50%;
        }

        span {
          font-weight: 400;
        }
        &__content {
          display: flex;
          justify-content: space-between;
          width: 51%;
          align-items: center;
        }
      }
      &__content {
        display: flex;
        justify-content: space-between;
        width: 51%;
        align-items: center;
      }
      &__number {
        background: #f5f5f5;
        display: flex;
        align-items: center;
        height: 40px;
        width: 80px;
        padding: 1em 0;
        border-radius: 5px;
        border: 1px dashed rgba(1, 22, 43, 0.2);
        position: relative;
        &__icon {
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 10%;
          top: 60%;
          transform: translate(-10%, -60%);
          align-items: center;
          z-index: 1;
          img {
            cursor: pointer;
          }
        }
        input {
          text-align: center;
          width: 100%;
          background: transparent;
          height: 100%;
          border: 0;
          font-weight: 400;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          // overflow-x: hidden;
          padding: 15px 10px 15px 23px;
        }
      }
    }
    .-option-boost-comment {
      display: block;
      &__wrapper {
        position: relative;
        margin-top: 3%;
        .text {
          position: relative;
          border-radius: 5px;
          border: 1px dashed rgba(1, 22, 43, 0.2);
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }
          .editor {
            min-width: 100%;
            min-height: 100%;
            float: left;

            font-family: 'GoogleSans';
          }

          .editor #postID,
          .editor #textComment,
          .editor #videoID,
          .editor #UIDList {
            outline: none;
            padding-left: 10% !important;
            padding-top: 13px !important;
          }

          .editor pre {
            padding-left: 10% !important;
            width: 100%;
          }

          .editor .editorLineNumber {
            position: absolute;
            left: 0px;
            color: #cccccc;
            text-align: right;
            width: 6%;
            font-weight: 100;
          }
          .token {
            color: #01162b !important;
          }
        }
        .__content {
          position: absolute;
          width: 100%;
          top: 0;
          margin-top: 5%;
          p {
            font-size: 15px;
            font-weight: 400;
            opacity: 0.5;
            margin-left: 5%;
            span {
              margin-right: 3%;
            }
          }
        }
        &__text {
          width: 100%;
          height: 180px;
          border-radius: 5px;
          border: 1px dashed rgba(1, 22, 43, 0.2);
          background: #f5f5f5;
        }

        &__content {
          position: absolute;
          width: 100%;
          top: 11%;
          transform: translate(0, -10%);
          p {
            display: flex;
            gap: 16px;
            font-size: 15px;
            font-weight: 400;
            opacity: 0.5;
            margin-left: 5%;
            margin-bottom: 10px;
          }
        }
      }
    }
    .-option-photo-video {
      display: block;
      &__checkbox {
        display: flex;
        align-items: center;
      }
      h1 {
        color: #01162b;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
      }
      p {
        font-weight: 400;
      }
      .-option-boost-like {
        margin-top: 2%;
      }
    }
    .dragVideoOrPhoto {
      position: relative;
      width: 100%;
      padding: 19px 0;
      border-radius: 5px;
      border: 1px dashed rgba(1, 22, 43, 0.2);
      background: #fff;
      display: flex;
      justify-content: center;
      cursor: pointer;
      span {
        opacity: 0.5;
        font-size: 15px;
        font-weight: 400;
      }
      img {
        opacity: 0.5;
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate(-10%, -50%);
        margin-right: 0.5rem;
      }
    }
    .folderPhoto {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      margin-bottom: 2%;
      p {
        font-weight: 400;
        span {
          opacity: 0.5;
        }
      }
      img {
        width: 3%;
        cursor: pointer;
      }
    }
    .-type-follower {
      display: block;
      .PostContent {
        margin-top: 10px;
        border-radius: 5px;
        background: #f5f5f5;
        &__select {
          margin: 0 auto;
          width: 93%;
          height: 100%;
        }
        &__details {
          cursor: pointer;
          font-family: 'GoogleSans';
          font-size: 15px;
          font-weight: 400;
          width: 100%;
          height: 40px;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-image: url(/src/assets/icon/icon-down.svg);
          background-repeat: no-repeat;
          background-position: right 30px center;
          .ant-select-selector {
            padding: 0 18px;
            border: none;
            font-size: 15px;
          }
          .ant-select-arrow {
            color: #01162b;
          }

          option {
            font-weight: 400;
            color: var(--font-color-para);
          }
          svg {
            display: none;
          }
        }
      }
      .postOption {
        position: relative;
        display: flex;
        align-items: center;
        .PostType,
        .TagType {
          width: 95%;
          border-radius: 5px;
          background: #f5f5f5;
          height: 40px;
          font-size: 15px;
          margin: 0 3%;
          // -moz-appearance: none;
          border: 0;
          option {
            font-weight: 400;
            color: var(--font-color-para);
          }
        }
        img {
          position: absolute;
          display: inline;
          right: 5%;
          top: 50%;
          transform: translate(-5%, -50%);
        }
        .PostType:hover,
        .PostType:active,
        .PostType:focus,
        .PostType:target {
          border: none !important;
        }
      }
    }
  }
  input[type='checkbox']:checked {
    background-color: #2a86ff;
    border: 0;
    color: white;
  }
  input[type='checkbox'] {
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid #01162b80;
    height: 15px;
    width: 15px;
    border-radius: 3px;
  }
  input[type='checkbox']:after {
    content: ' ';
    margin: 0 auto;
    width: 30%;
    height: 70%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
    display: none;
  }
  input[type='checkbox']:checked:after {
    display: block;
  }
  .scrollable-container {
    height: 100%;
    overflow-y: auto;
    border-radius: 15px;
    background: #fff;
    // padding: 0px 15px;
    scrollbar-width: thin;
  }
  .scrollable-container::-webkit-scrollbar {
    width: 5px;
  }
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Màu của thanh cuộn */
    border-radius: 20px; /* Bo tròn góc của thanh cuộn */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bóng mờ */
  }
  .scrollable-container::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Màu của phần bên dưới thanh cuộn */
    border-radius: 20px;
  }
  .hide {
    display: none !important;
  }
}
