@font-face {
  font-family: 'GoogleSans';
  font-style: normal;
  font-weight: normal;
  src: local('GoogleSans'), url('./assets/fonts/GoogleSansTTF/GoogleSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'GoogleSansBold';
  font-style: normal;
  font-weight: 700;
  src: local('GoogleSans'), url('../../assets/fonts/GoogleSansTTF/GoogleSans-Bold.ttf') format('truetype');
}
.layout-profiles {
  min-width: 1280px;
  min-height: 720px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: fixed;
  inset: 0px;
  .-container-profiles {
    padding: 36px 24px 0 24px;
    height: 100%;
    .ant-spin-container {
      display: flex;
      flex: 1 1;
      position: relative;
      height: 100%;
      overflow: hidden;
      .pinned-row {
        .ant-table-cell {
          background-color: #fffbea;
        }
      }
      .ant-table.ant-table-fixed-column {
        width: 100%;
        .ant-table-content {
          overflow: auto auto !important;
          min-height: fit-content;
          height: 100%;
          position: relative;
          padding-bottom: 50px;
          .ant-table-cell-fix-right {
            z-index: 1;
          }

          table > colgroup {
            opacity: 0.3;
          }

          table > thead.ant-table-thead {
            // background: #f2f8ff;
            z-index: 99 !important;
            position: sticky;
            top: 0px;
            tr {
              // opacity: 0.3;
              th.ant-table-cell,
              td.ant-table-cell {
                font-size: 15px;
                font-weight: 700;
                line-height: normal;
                background: #f2f8ff;
                border-bottom: 1px solid #e0e0e0;
                color: rgba(1, 22, 43, 0.6);
                font-family: GoogleSans;
                min-height: 50px;
                // padding-bottom: 10px;
                // padding-top: 10px;
                vertical-align: middle;
                .ant-table-column-sorters {
                  display: inline;
                  span.ant-table-column-title {
                    margin-right: 5px;
                  }
                  span.ant-table-column-sorter-inner {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                }
              }
              th.ant-table-cell::before {
                display: none;
              }
            }
          }
          table > tbody.ant-table-tbody {
            background: #fff !important;
            td.ant-table-cell {
              font-size: 15px;
              line-height: normal;
              font-family: 'GoogleSans';
              min-height: 50px;
              vertical-align: middle;
            }
          }
          .ant-table-tbody > tr > td.ant-table-cell {
            padding: 10px 16px !important;
            // div {
            //   height: 30px !important;
            //   display: flex;
            //   align-items: center;
            // }
            // div.ant-table-expanded-row-fixed {
            //   height: 100% !important;
            //   justify-content: center !important;
            //   .ant-empty.ant-empty-normal {
            //     flex-direction: column !important;
            //   }
            // }
          }
          .ant-table-thead > tr > th.ant-table-cell {
            padding: 10px 16px !important;
          }
        }
        .ant-table-content::-webkit-scrollbar {
          height: 5px;
          width: 5px;
        }
        .ant-table-content::-webkit-scrollbar-thumb {
          background-color: rgba(1, 22, 43, 0.5); /* Màu của thanh cuộn */
          border-radius: 5px; /* Bo tròn góc của thanh cuộn */
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bóng mờ */
        }
        .ant-table-content::-webkit-scrollbar-track {
          background-color: rgba(1, 22, 43, 0.2); /* Màu của phần bên dưới thanh cuộn */
          border-radius: 5px;
        }
      }
      .ant-table-content > table {
        width: 100vw !important;
      }
    }
  }
  .profiles_header {
    display: flex;
    justify-content: space-between;
    .-title-profiles {
      color: #01162b;
      font-size: 25px;
      font-weight: 700;
    }
    .user {
      display: flex;
      align-items: center;
      .user_noti {
        margin-right: 30px;
        color: #01162b;
        font-family: 'GoogleSans';
        font-size: 15px;
        font-weight: 400;
        span {
          color: #2a86ff;
          font-family: 'GoogleSans';
          font-size: 15px;
          font-weight: 700;
          cursor: pointer;
        }
      }
      img {
        filter: drop-shadow(0px 2px 5px rgba(1, 22, 43, 0.15));
      }
    }
  }

  .-nav-profiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    height: 64px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
    .-subnav-profiles {
      display: flex;
      gap: 23px;
    }
    .-btn-profiles {
      display: flex;
      gap: 23px;
      margin-right: 12px;
      button {
        width: 90px;
        height: 40px;
        border-radius: 8px;
        background: #2a86ff;
        box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
      }
      .-select-profile {
        width: 130px;
        height: 40px;
        border-radius: 34px;
        background: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 11px;
        cursor: pointer;
        p {
          color: #01162b;
          font-size: 15px;
          font-weight: 400;
          line-height: normal;
          opacity: 0.9;
        }
      }
    }
  }
  .ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected > .ant-table-cell {
    background-color: #f2f8ff;
  }
  .ant-table-wrapper .ant-table-tbody .ant-table-row.pinned-row.ant-table-row-selected > .ant-table-cell {
    background-color: #fffbea;
  }
  .ant-table-wrapper {
    height: calc(100vh - 190px);
  }
  .ant-spin-nested-loading,
  .ant-table-wrapper .ant-table-container {
    height: 100%;
  }

  .ant-table-wrapper .ant-table-column-sorter-up.active,
  .ant-table-wrapper .ant-table-column-sorter-down.active {
    color: #ccc;
  }
  .ant-table-wrapper .ant-table-column-sorter-up,
  .ant-table-wrapper .ant-table-column-sorter-down {
    font-size: 10px;
  }
  .ant-table-wrapper td.ant-table-column-sort,
  .ant-table-wrapper td.ant-table-column-sort {
    background-color: #fff;
  }

  .-expand-icon {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .-proxy-profiles {
    align-items: center;
    display: inline-flex;
    gap: 10px;
  }
  .-tag-profiles {
    font-family: 'GoogleSans';
    padding: 0;
    border: none;
    // max-width: fit-content;
    background: transparent;
    color: #2a86ff;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .-status-profiles {
    width: 65px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 14px;
    background: rgba(241, 180, 76, 0.2);
    color: rgb(241, 180, 76);
    font-size: 12px;
    font-weight: 700;
  }
  .-status-profiles-ready {
    color: #34c38f;
    background-color: rgba(52, 195, 143, 0.2);
  }
  .-status-profiles-used {
    background: #f9d9d9;
    color: #e44141;
  }
  .-wrapper-option-profiles {
    display: flex;
    align-items: center;
    gap: 22px;
    .-option-profiles {
      width: 40px;
      height: 40px;
      background-color: #f5f5f5;
      border-radius: 50%;
      display: grid;
      place-items: center;
      cursor: pointer;
    }
  }
  .-search-profiles {
    gap: 10px;
    height: 40px;
    // max-width: 239px;
    margin-left: 17px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    background: #f5f5f5;
    span {
      margin-left: 6px;
    }
    input {
      height: 19px;
      border: none;
      background-color: transparent;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .-text-profile {
    display: flex;
    gap: 10px;
    align-items: center;
    img {
      cursor: pointer;
    }
  }
}
.userMenu {
  ul {
    padding: 0 !important;
    border-radius: 10px;
  }
  .userPopup {
    width: 260px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
    padding: 12px;
    .email,
    .profileStatus {
      text-align: center;
    }
    .profileStatus {
      display: flex;
      justify-content: center;
      gap: 3px;
      color: #000;
      font-family: 'Visby Round CF';
      font-size: 12px;
      span:first-child {
        font-weight: 500;
      }
      span:last-child {
        opacity: 0.5;
      }
    }
    .plan {
      border-radius: 7px;
      background: #f2f5fc;
      height: 53px;
      display: flex;
      justify-content: space-between;
      padding: 5px 20px;
      margin: 5px 0;
      .textPlan {
        color: #000;
        font-family: 'Visby Round CF';
        p:first-child {
          font-size: 15px;
          font-weight: 700;
        }
        p:last-child {
          font-size: 12px;
          font-weight: 500;
          opacity: 0.5;
        }
      }
      .btnUpgrade {
        border-radius: 15.5px;
        background: #2a86ff;
        box-shadow: 0px 3px 4.8px 0px rgba(1, 22, 43, 0.1);
        display: inline-flex;
        padding: 5px 12px;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: 'Visby Round CF';
        font-size: 12px;
        font-weight: 700;
        border: 0;
        cursor: pointer;
      }
    }
    .myProfile,
    .payment,
    .logout {
      display: flex;
      margin: 15px 0;
      gap: 15px;
      .img-user {
        width: 22.5px;
        height: 22.5px;
        border-radius: 5px;
        background: #f2f5fc;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      p {
        color: #000;
        font-family: 'Visby Round CF';
        font-size: 15px;
        font-weight: 500;
      }
    }
    .logout {
      cursor: pointer;
    }
  }
}
//css popover options
.ant-popover.ant-popover-placement-leftTop {
  .-popover-options {
    width: 100px;
    // img {
    //   width: 10px;
    //   height: 10px;
    // }
    &__attribute {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 7px 0;
      cursor: pointer;
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
      }
    }

    .border-bottom {
      border-bottom: 1px solid #f5f5f5;
    }
  }
  .ant-popover-arrow {
    display: none;
  }
}
