.modal {
  width: 1163px;
  height: 100%;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
  padding: 30px 30px 0px 30px;
  inset: 0px;
  // width: 994px;
  // height: 637px;
  // height: 100%;
  // // align-items: center;

  // border-radius: 15px;
  // background: #fff;
  // box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
  .-close-popup {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 30px;
    height: 30px;
    background: #f5f5f5;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  .-add-proxys {
    // position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    padding: 0 25px;
    // margin-top: 24px;
    // margin-left: 42px;
    // margin-right: 42px;
    h1 {
      color: #01162b;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 200%; /* 44px */
    }
    p {
      color: #01162b;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
    }
    &__type {
      margin-top: 23px;
      p {
        width: 45%;
        color: #01162b;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
        span {
          font-weight: 400;
        }
      }
      .-add-proxys-nav {
        display: flex;
        align-items: center;
        gap: 27px;
        margin-top: 10px;
        background-color: #fff !important;
        &__select {
          margin: 0 auto;
          width: 93%;
          height: 100%;
        }
        &__details {
          cursor: pointer;
          font-size: 15px;
          border-radius: 8px;
          font-family: 'GoogleSans';
          background: #f5f5f5;
          box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
          font-weight: 400;
          width: 100%;
          height: 40px;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-image: url(/src/assets/icon/icon-down.svg);
          background-repeat: no-repeat;
          background-position: right 30px center;

          // option {
          //   font-weight: 400;
          //   color: var(--font-color-para);
          // }
          svg {
            display: none;
          }
        }
        .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
          .MuiOutlinedInput-notchedOutline,
        .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
          border: 0;
          border-radius: 5px;
        }
      }
      &__text {
        width: 93%;
        position: relative;
        height: 40px;
        border-radius: 8px;
        background: #f5f5f5;
        box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
        display: flex;
        align-items: center;
        &__option {
          width: 100%;
          margin: 0 25px;
          select {
            width: 100%;
            height: 40px;
            border: none;
            background: transparent;
          }
        }
      }
      &__icon {
        cursor: pointer;
        img {
          opacity: 0.5;
        }
      }

      .-list-proxys {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0;
        .keywordText {
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }

          position: relative;
          height: 310px;
          width: 100%;
          overflow: auto;
          background: #f5f5f5;
          border-radius: 5px;
          border: 1px dashed rgba(1, 22, 43, 0.2);
          .editor {
            min-width: 100%;
            min-height: 100%;
            float: left;

            font-family: 'GoogleSans';
          }

          .editor #proxyString {
            outline: none;
            padding-left: 5.5% !important;
            padding-top: 2.5% !important;
          }

          .editor pre {
            padding-left: 5.5% !important;
            padding-top: 2.5% !important;
            width: 100%;
          }

          .editor .editorLineNumber {
            position: absolute;
            left: -23px;
            color: #cccccc;
            text-align: right;
            width: 5.5%;
            font-weight: 100;
          }
          .token {
            color: #01162b !important;
          }
          .hide {
            display: none !important;
          }
        }
        .placeholder {
          position: absolute;
          width: 100%;
          top: 10%;
          transform: translate(0, -10%);
          opacity: 0.8;
          p {
            display: flex;
            justify-content: left;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            margin: 0 3%;
            gap: 16px;
            opacity: 0.7;
            span {
              width: 2%;
            }
          }
        }
        &__save {
          margin-top: 20px;
          display: flex;
          width: 122px;
          padding: 9px 40px;
          justify-content: center;
          align-items: center;
          border-radius: 36px;
          background: #2a86ff;
          box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
          color: #fff;
          color: #fff;
          /* font-family: Visby Round CF; */
          font-size: 18px;
          font-weight: 700;
          line-height: normal;
          cursor: pointer;
        }
      }
    }
  }
}
