@font-face {
  font-family: 'GoogleSans';
  font-style: normal;
  font-weight: normal;
  src: local('GoogleSans'), url('./assets/fonts/GoogleSansTTF/GoogleSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GoogleSans';
  font-style: normal;
  font-weight: 300;
  src: local('GoogleSans'), url('./assets/fonts/GoogleSansTTF/GoogleSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GoogleSansMedium';
  font-style: normal;
  font-weight: 600;
  src: local('GoogleSans'), url('./assets/fonts/GoogleSansTTF/GoogleSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'GoogleSansBold';
  font-style: normal;
  font-weight: 700;
  src: local('GoogleSans'), url('./assets/fonts/GoogleSansTTF/GoogleSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Haettenschweiler';
  font-style: normal;
  font-weight: normal;
  src: local('Haettenschweiler'), url('../../assets/fonts/Haettenschweiler-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Visby Round CF';
  font-style: normal;
  font-weight: normal;
  src: local('Visby Round CF'),
    url('../../assets/fonts/Visby-Round-www.Dfonts.org/VisbyRoundCF-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Visby Round CF Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Visby Round CF'),
    url('../../assets/fonts/Visby-Round-www.Dfonts.org/VisbyRoundCF-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'Visby Round CF Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Visby Round CF'),
    url('../../assets/fonts/Visby-Round-www.Dfonts.org/VisbyRoundCF-Medium.otf') format('truetype');
}
.forgotPass {
  width: 100%;
  min-height: 100vh;
  display: flex;
  color: #01162b;
  &__content {
    width: 50%;
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    padding: 30px 40px;
    &-header {
      height: 5%;
      // margin-bottom: 80px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .tool-name {
        color: #01162b;
        font-family: 'Haettenschweiler';
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.84px;
      }
    }
    .LanguageType {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url('../../assets//icon/icon-down.svg') !important;
      background-repeat: no-repeat !important;
      background-position: right 15px center !important;
      font-family: 'GoogleSans';
      svg {
        display: none;
      }
      .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
        img {
          margin-top: -2px;
        }
      }
      .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
        padding-right: 20px !important;
      }
    }
    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      width: 450px;
      height: 100%;
      &-title {
        width: 450px;
        text-align: center;
        font-family: 'Visby Round CF Bold';
        font-weight: 700;
        font-size: 40px;
        line-height: 38px;
        margin-bottom: 10px;
      }
      &-describe {
        width: 100%;
        text-align: center;
        line-height: 19px;
        margin-bottom: 33px;
        color: #01162b;
        font-family: 'GoogleSans';
        font-size: 15px;
        font-weight: 400;
      }
      .form {
        display: flex;
        width: 100%;
        flex-direction: column;
      }
    }
    label {
      display: block;
      color: #000;
      font-family: 'Visby Round CF';
      font-size: 15px;
      font-weight: 700;
    }
    .forgotPass__input {
      width: 100%;
      height: 40px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      border: 1px dashed rgba(1, 22, 43, 0.2);
      margin-top: 2%;
      margin-bottom: 5px;
      padding-left: 4%;
      color: #01162b;
      caret-color: #01162b;
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus {
        -webkit-text-fill-color: #01162b;
        -webkit-box-shadow: 0 0 0px 1000px #1a2d40 inset;
      }
    }
    .input-email input:-webkit-autofill {
      -webkit-text-fill-color: #01162b;
      -webkit-box-shadow: 0 0 0px 1000px #1a2d40 inset !important;
    }
    .input-password input:-webkit-autofill {
      -webkit-text-fill-color: #01162b;
      -webkit-box-shadow: 0 0 0px 1000px #1a2d40 inset !important;
    }

    .forgotPass__loading {
      width: 25px;
      height: 25px;
    }
    .form__other {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      align-items: center;

      &-signup,
      &-signin {
        cursor: pointer;
        span {
          color: #2a86ff;
          font-family: 'Visby Round CF';
          font-size: 13px;
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }
    .confirmBtn {
      border-radius: 10px;
      box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
      background: #2a86ff;
      width: 100%;
      .confirm {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
        background: #2a86ff;
        border-radius: 5px;
        border: none;
        margin-top: 30px;
        margin-bottom: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: 700;
        font-family: 'GoogleSans';
        cursor: pointer;
        font-size: 18px;
      }
    }
    .error {
      margin-bottom: 10px;
      color: red;
      font-size: 14px;
    }
    .input-password,
    .input-confirmPassword {
      position: relative;
      margin-top: 15px;
    }
    .icon-eye {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 5%;
      bottom: 17%;
    }
    #remember {
      margin-right: 10px;
    }
  }
  &__banner {
    flex-grow: 1;
  }
  &__right-content {
    width: 50%;
    display: inline-flex;
    align-items: center;
    .image_login {
      width: 98%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      border-radius: 36px;
      margin: 0 auto;
    }
  }
}
.confirmEmail {
  &__top {
    display: flex;
    justify-content: space-between;
    p {
      color: #01162b;
      font-size: 22px;
      font-weight: 700;
      line-height: 200%;
      width: 95%;
    }
    .close {
      background-color: #f5f5f5;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      width: 30px;
      height: 30px;
      img {
        width: 10px;
        height: 10px;
        max-width: 10px;
        line-height: 10px;
      }
    }
  }
  &__bottom {
    display: flex;
  }
  &__resendCodeCoundown,
  &__descript {
    margin: 2% 0;
    color: #01162b;
    font-family: 'GoogleSans';
    font-size: 15px;
    font-weight: 400;
    span {
      color: #2a86ff;
    }
  }
  &__descript {
    opacity: 0.5;
    margin-top: 0;
  }
  &__resendCode {
    margin: 2% 0;
    color: #2a86ff;
    text-decoration: underline;
    cursor: pointer;
  }

  input {
    border-radius: 8px;
    border: 1px dashed rgba(1, 22, 43, 0.2);
    background: #f5f5f5;
    width: 80%;
    height: 40px;
    padding: 15px;
  }
  button {
    font-size: 15px;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    border: none;
    font-weight: 700;
    background-color: #2a86ff;
    color: #fff;
    margin-left: 13px;
    cursor: pointer;
  }
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
}
