body {
  padding: 0;
  margin: 0;
  font-family: 'GoogleSansBold', sans-serif;
}
.wrapper {
  height: 100vh;
  .create-script {
    min-width: 1280px;
    height: 100%;
    border: 1px;
    padding: 30px;
    &__header {
      margin-bottom: 20px;
      h1 {
        color: #01162b;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .title {
        display: flex;
        font-weight: 700;
        margin-top: 10px;
        button {
          border: none;
          background-color: #fff;
          margin-right: 10px;
          cursor: pointer;
        }
        p {
          justify-content: center;
          align-items: center;
          padding: 5px;
          font-size: 18px;
        }
      }
    }
    &__content {
      display: flex;
      height: calc(90% - 20px);
      .scrollable-container {
        width: 440px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 15px;
        background: #fff;
        box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
        scrollbar-width: thin;
      }
      .scrollable-container::-webkit-scrollbar {
        width: 5px;
      }
      .scrollable-container::-webkit-scrollbar-thumb {
        background-color: #ccc; /* Màu của thanh cuộn */
        border-radius: 20px; /* Bo tròn góc của thanh cuộn */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bóng mờ */
      }
      .scrollable-container::-webkit-scrollbar-track {
        background-color: #f0f0f0; /* Màu của phần bên dưới thanh cuộn */
        border-radius: 20px;
      }
      .left-content {
        border-radius: 15px;
        width: 100%;
        padding: 15px;
        height: 100%;
        &__top {
          display: flex;
          margin-top: 10px;
          .search {
            display: flex;
            align-items: center;
            border-radius: 8px;
            background: #f5f5f5;
            width: 100%;
            height: 40px;
            img {
              margin-left: 12px;
              margin-right: 9px;
              width: 28px;
              height: 25px;
            }
            .inputSearch {
              border: none;
              background: #f5f5f5;
            }
          }
        }
        &__category {
          margin-top: 20px;
          hr {
            margin-top: -2px;
            height: 2px;
            background: rgba(1, 22, 43, 0.1);
            border: none;
          }
          .categoryBtn {
            border: none;
            background-color: #fff;
            cursor: pointer;
            margin-right: 30px;
            margin-bottom: 10px;
          }
          .categoryActive {
            border: none;
            background-color: #fff;
            cursor: pointer;
            margin-right: 30px;
            padding-bottom: 8px;
            border-bottom: 2px solid;
            font-weight: 700;
          }
        }
        &__container {
          cursor: pointer;
          .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 12px;
            margin-top: 20px;
          }
          .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100px;
            border: none;
            border-radius: 5px;
            text-align: center;
            background: #fff;
            margin-bottom: 20px;
            box-shadow: 0px 4px 5px 0px rgba(107, 127, 148, 0.15);
            p {
              margin-top: 12px;
              font-size: 12px;
              font-weight: 700;
            }
          }
        }
      }
      .right-content {
        margin-left: 20px;
        display: flex;

        flex-direction: column;
        min-width: calc(100vw - 530px);
        &__edit {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 15px;
          background: #fff;
          width: 100%;
          height: 64px;
          box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
          .edit-input,
          .note-input {
            overflow-x: hidden;
            display: flex;
            align-items: center;
            height: 40px;
            width: 28%;
            margin-left: 17px;
            border-radius: 5px;
            border: 1px dashed rgba(1, 22, 43, 0.2);
            background: #f5f5f5;
            img {
              margin-left: 19px;
            }
            input {
              border: none;
              width: 80%;
              background-color: #f5f5f5;
              margin-left: 19px;
              padding-right: 20px;
            }
          }

          .groupEndBtn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 230px;
            margin-right: 15px;
          }
          .debug,
          .test,
          .more {
            border: none;
            background-color: #fff;
            cursor: pointer;
          }
          .saveBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 103.75px;
            height: 40px;
            gap: 11.308px;
            flex-shrink: 0;
            padding-top: 2px;
            margin-right: 2%;
            border: none;
            border-radius: 8px;
            background: #2a86ff;
            color: #fff;
            box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
          }
        }
        &__container {
          border-radius: 15px;
          border: 1px dashed rgba(1, 22, 43, 0.5);
          margin-top: 15px;
          background: #f5f5f5;
          height: 100%;
        }
      }
      @media screen and (max-width: 1279px) {
        /* Adjust styles for smaller screens */
        .right-content {
          width: 100%; /* Allow right content to take full width on smaller screens */
        }
      }
    }
  }
}
.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

// node
.updater-node {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 5px 0px rgba(107, 127, 148, 0.15);
}

.node {
  display: flex;
  align-items: center;
  // position: relative;
  .content {
    display: flex;
    align-items: center;
    margin-left: 15px;
    p {
      margin-left: 15px;
      margin-right: 24px;
      font-size: 10px;
      font-weight: 700;
    }
    .content-right {
      .right-top,
      .right-bottom {
        display: flex;
        align-items: center;
      }
    }
    .right-top {
      margin-right: 7px;
      img {
        padding: 0 5px;
      }
    }
    .right-bottom {
      margin-left: 15px;
      p {
        margin-left: 5px;
        font-weight: 400;
      }
    }
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}

.ButtonOption {
  position: absolute;
  // bottom: 100%;
  display: flex;
  flex-direction: column;
  // top: 5px;
  // right: -256px;
  // right: 80%;
  // transform: translate(20%, 0);
  button {
    box-shadow: 0px 5px 7px 0px rgba(8, 35, 106, 0.25);
    background-color: #fff;
    border: 0;
    padding: 5px 0;
    margin: 1px 0;
    border-radius: 5px;
    width: 50px;
  }
}
body {
  .popup-overlay {
    background: transparent;
  }
  .popup-content {
    margin: 0;
    background: 0;
    width: 0;
    padding: 0;
    border: 0;
  }
}
